<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealthLength"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthLength"></div>
        </div>
      </section>
      <section class="container"  v-if="winner">
        <h2 v-if="winner==='draw'">Game over (draw)!!</h2>
        <h2 v-else-if="winner==='you losse'">you losse!!</h2>
        <h2 v-else-if="winner==='you win'">you win!!</h2>
      </section>
      <section v-if="!winner" id="controls">
        <button @click="attackMonster">ATTACK</button>
        <button :disabled="isDisabled" @click="specialAttack">SPECIAL ATTACK</button>
        <button :disabled="!canHeal"  @click="healPlayer">HEAL ({{healCount}})</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <button class="restartGameButton" v-else @click="restartGame">
        Restart thegame
      </button>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="logMessage in logMessages">
            {{logMessage.actionBy}} , {{logMessage.actionType}},{{logMessage.actionValue}},
          </li>
         
        </ul>
      </section>
    </div>
  </body>
</html>
